hidden = ["package-lock.json", "package.json", "ryuko"]
language = "bash"
run = "npm start"

[[ports]]
localPort = 34609
externalPort = 9000

[[ports]]
localPort = 34883
externalPort = 8099

[[ports]]
localPort = 35655
externalPort = 8080

[[ports]]
localPort = 36133
externalPort = 5173

[[ports]]
localPort = 36397
externalPort = 3001

[[ports]]
localPort = 36471
externalPort = 8008

[[ports]]
localPort = 37137
externalPort = 3003

[[ports]]
localPort = 38333
externalPort = 3000

[[ports]]
localPort = 39259
externalPort = 4200

[[ports]]
localPort = 41385
externalPort = 80

[[ports]]
localPort = 43211
externalPort = 6000

[[ports]]
localPort = 43657
externalPort = 6800

[[ports]]
localPort = 45095
externalPort = 8000

[[ports]]
localPort = 45523
externalPort = 8081

[[ports]]
localPort = 46263
externalPort = 3002

[[ports]]
localPort = 46583
externalPort = 5000
